@charset "UTF-8";
/*/////////////////////////////////////// Minhas Variaveis Globais ////////////////////////////////////*/
/*/////////////////////////////////////// Original ////////////////////////////////////*/
/*.relatorio-unasus, table.flexible, .generaltable, .generaltable_without_stripes {*/
  /*padding: 13px;*/
/*}*/

.relatorio-unasus .generaltable_without_stripes {
    width: 98% !important;
    margin-bottom: 5px !important;
}

.relatorio-unasus.fieldset
.multiple_list {
  display: inline-block;
  width: 35%;
  margin-left: 1%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.relatorio-unasus.fieldset
.time_filter {
  display: inline-block;
  width: 35%;
  margin-left: 1%;
  margin-bottom: 1em;
  margin-top: 1em;
  vertical-align: top;
}

.relatorio-unasus.fieldset .calendar-full {
  width: 100%;
}

.relatorio-unasus.fieldset .multiple_list
select {
  width: 100%;
  height: 225px;
}

.relatorio-unasus.fieldset
.radio {
  margin-right: 3%;
}

.relatorio-unasus.fieldset .radio
img {
  height: 16px;
  width: 16px;
  margin-right: 3px;
  margin-bottom: -3px;
}

.relatorio-unasus.fieldset
p {
  margin-bottom: 0;
}

.relatorio-unasus.fieldset
dl {
  margin: 0;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-width: 50%;
  -webkit-column-width: 50%;
  column-width: 50%;
}

.relatorio-unasus.fieldset dl dd,
.relatorio-unasus.fieldset dl
dt {
  margin: 0;
  padding: 0;
  line-height: 20px;
}

.relatorio-unasus.fieldset dl
dt {
  width: 2em;
  height: 15px;
  float: left;
  display: inline-block;
  border: 1px solid gray;
  margin-right: 0.5em;
}

.relatorio-unasus.fieldset {
  color: #004E95;
  border-color: #87C7E2;
  background-color: #FEF9EC;
  border-width: 1px 0;
  border-style: dotted;
  padding: 0.5em 1em;
  margin-bottom: 2em;
}

.relatorio-unasus.fieldset.warning {
  color: #004E95;
  border-color: #87C7E2;
  background-color: #efcfcf;
  border-width: 1px 0;
  border-style: dotted;
  padding: 0.5em 1em;
  margin-bottom: 2em;
}

.relatorio-unasus.fieldset
legend {
  color: #004E95;
  font-size: 16pt;
  font-weight: normal;
  border: none;
  background: none;
}

.relatorio-unasus.atividades_vs_notas .sem_prazo,
.relatorio-unasus.entrega_de_atividades .sem_prazo,
.relatorio-unasus.boletim .sem_nota {
  color: #fff;
  background: #ddd;
}


/*.relatorio-unasus .nao_aplicado,*/
.relatorio-unasus.atividades_vs_notas .nao_realizada,
.relatorio-unasus.historico_atribuicao_notas .nao_avaliada
 {
  color: #fff;
  background: #ccc;
}

.relatorio-unasus
.avaliacao {
  background: #6495ED;
}

.relatorio-unasus .avaliado,
.relatorio-unasus .concluido,
.relatorio-unasus.atividades_vs_notas .pouco_atraso,
.relatorio-unasus.historico_atribuicao_notas .no_prazo,
.relatorio-unasus
.media {
  background: #FCFF76;
  color: gray;
}

.relatorio-unasus .nao_acessado,
.relatorio-unasus .nao_concluido,
.relatorio-unasus.atividades_vs_notas .nao_entregue,
.relatorio-unasus.historico_atribuicao_notas .muito_atraso,
.relatorio-unasus.uso_sistema_tutor .nao_acessou,
.relatorio-unasus.potenciais_evasoes .nao_concluido,
.relatorio-unasus.boletim
.abaixo_media {
  color: #fff;
  background: #f77;
}

.relatorio-unasus.boletim
.abaixo_media_nota {
  color: #000000;
  background: #FCFF76;
}

.relatorio-unasus .rascunho,
.relatorio-unasus.atividades_vs_notas .muito_atraso,
.relatorio-unasus.historico_atribuicao_notas .pouco_atraso,
.relatorio-unasus.acesso_tutor .nao_acessou,
.relatorio-unasus.potenciais_evasoes
.parcial {
  background: #E8BC6B;
}

.relatorio-unasus
.revisao {
  background: #FCFF76 !important;
  color: #000000;
}

.relatorio-unasus.atividades_vs_notas .nota_atribuida, .nao_acessou
.relatorio-unasus.historico_atribuicao_notas .nao_entregue,
.relatorio-unasus.acesso_tutor .acessou,
.relatorio-unasus.uso_sistema_tutor .acessou,
.relatorio-unasus.potenciais_evasoes .concluido,
.relatorio-unasus.boletim
.na_media {
  background: #fff;
}

.relatorio-unasus.atividades_vs_notas
.nota_atribuida_atraso {
  background: #FFE3CD;
}

.relatorio-unasus.estudante_sem_atividade_postada
.modulo {
  font-weight: bold;
}

.relatorio-unasus
.nota_atribuida {
  white-space: nowrap;
}

.relatorio-unasus td {
  text-align: center;
}

.relatorio-unasus td.tutor {
  background: #9cf !important;
  text-align: left;
  padding-left: 3em;
}

/*.relatorio-unasus th.estudante,*/
.relatorio-unasus td.somatorio {
  padding-right: 1em;
  padding-top: 8px;
  padding-bottom: 10px;
  text-align: left;
  font-weight: normal;
  background: #FEF9EC;
  white-space: nowrap;
}

.relatorio-unasus td.blank {
  background: #FAFAFA;
  border: 0px solid transparent !important;
}

table.relatorio-unasus.estudante_sem_atividade_postada,
table.relatorio-unasus.estudante_sem_atividade_avaliada {
  background: #FAFAFA !important;
}

.relatorio-unasus.divisao-por-modulos td.cell.ultima_atividade,
.relatorio-unasus.divisao-por-modulos th.cell.ultima_atividade,
.relatorio-unasus.divisao-por-modulos td.tutor {
  border-right: 1px solid #004E95 !important;
}

.relatorio-unasus.divisao-por-modulos th.cell.modulo_header {
  border-top: 1px solid #004E95 !important;
  border-left: 1px solid #004E95 !important;
  border-right: 1px solid #004E95 !important;
}

.relatorio-wrapper {
  overflow: auto !important;
}

.relatorio-unasus.botao-ocultar {
  float: right;
}

.relatorio-unasus.botao-ocultar.visible,
.relatorio-unasus.conteudo-filtro.visible {
  display: block;
}

.relatorio-unasus.botao-ocultar.hidden,
.relatorio-unasus.conteudo-filtro.hidden {
  display: none;
}

/*////////////////////////////////////// Meus Ajustes ////////////////////////*/
/*
.relatorio-unasus h1,
.relatorio-unasus h2,
.relatorio-unasus h3,
.relatorio-unasus h4,
.relatorio-unasus h5,
.relatorio-unasus h6,
legend {
  font-family: "Dosis" !important;
}

.relatorio-unasus h1 {
  font-size: 26px !important;
}

.relatorio-unasus h2 {
  font-size: 24px;
}

.relatorio-unasus h3 {
  font-size: 22px !important;
}

.relatorio-unasus h4 {
  font-size: 20px !important;
}

.relatorio-unasus h5 {
  font-size: 18px !important;
}

.relatorio-unasus h6 {
  font-size: 16px !important;
}

.relatorio-unasus h2 {
  margin-left: 15px;
}

.relatorio-unasus #instance-4-header {
  margin-left: 0 !important;
}
*/

.relatorio-unasus a, label {
  color: #004E95 !important;
}

.relatorio-unasus tbody {
  font-family: "helvetica" !important;
  font-size: 12px !important;
}

.relatorio-unasus .rotate {
  -webkit-transform: rotate(-90deg) !important;
  -moz-transform: rotate(-90deg) !important;
  -ms-transform: rotate(-90deg) !important;
  -o-transform: rotate(-90deg) !important;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3) !important;
  width: 43px !important; /* Deixa as colunas com o nome dos módulos sempre do mesmo tamanho */
  font-size: 12px !important;
  padding: 0px;
  line-height: 15px !important;
}

.relatorio-unasus .rotate label{
  margin: -17px !important;
  padding: 0 !important;
  line-height: 15px !important;
  font-size: 12px !important;
}

.relatorio-unasus .rotate a
{
  margin: -17px !important;
  padding: 0 !important;
  word-wrap: break-word !important;
  text-align: start;
}

/*.relatorio-unasus th.rotate label,*/
.relatorio-unasus th.rotate a {
  font-weight: normal;
}

.relatorio-unasus .estudante {
  max-width: 250px !important;
  min-width: 250px !important;
  /*width: 250px !important;*/
  white-space: normal !important;
  word-wrap: break-word !important;
  padding-bottom: 5px;
  text-align: left;
}

.relatorio-unasus th.estudante_header
{
  max-width: 249px !important;
  min-width: 249px !important;
  /*width: 249px !important;*/
  height: 50px !important;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 13px;
}

.relatorio-unasus th.estudante
{
  background-color: #FFFFFF !important;
  padding-left: 12px;
  width: 200px;
  text-align: left;
  font-weight: normal;
  background: #FEF9EC;
  white-space: nowrap;
}

.tcc_entrega_atividades .c1,
.tcc_entrega_atividades .c_body,
.tcc_concluido .c1,
.tcc_concluido .c_body,
/*.tcc_consolidado .c1,*/
/*.tcc_consolidado .c_body,*/
.entrega_de_atividades .c1,
.entrega_de_atividades .c_body,
.boletim .c1,
.boletim .c_body,
.atividades_vs_notas .c1,
.atividades_vs_notas .c_body {
  max-width: 43px !important;
  min-width: 50px !important;
  padding: 8px !important;
  margin: 0 !important;
  font-size: 12px !important;
  text-align: center !important;
  text-indent: 0 !important;
}

/*.modulos_concluidos th.estudante_header {*/
  /*width: 100px !important;*/
/*}*/

/*.modulos_concluidos th.estudante {*/
  /*width: 100px !important;*/
/*}*/

.tcc_entrega_atividades thead th,
.tcc_concluido thead th,
.atividades_vs_notas thead th,
.entrega_de_atividades thead th,
.atividades_vs_notas thead th,
.boletim thead th {
  height: 50px !important;
}

.tcc_entrega_atividades .estudante,
.tcc_concluido .estudante,
.entrega_de_atividades .estudante,
.atividades_vs_notas .estudante,
.boletim .estudante {
  font-size: 12px !important;
}


/*.tcc_consolidado .c1,*/
/*.tcc_consolidado .c_body,*/
/*.tcc_consolidado .ultima_atividade,*/
.atividades_nota_atribuida .c1,
.atividades_nota_atribuida .c_body,
.atividades_nota_atribuida .ultima_atividade {
  width: 43px !important;
  height: 30px !important;
  text-align: center !important;
  font-size: 12px !important;
  word-wrap: break-word !important;
}

.atividades_concluidas_agrupadas .c1,
.atividades_concluidas_agrupadas .c_body,
.modulos_concluidos .c1,
.modulos_concluidos .c_body,
.estudante_sem_atividade_avaliada .c1,
.estudante_sem_atividade_avaliada .c_body,
.estudante_sem_atividade_postada .c1,
.estudante_sem_atividade_postada .c_body {
  width: 120px !important;
  height: 50px !important;
  text-align: center !important;
  padding: 2px !important;
  padding-top: 10px;
  font-size: 12px !important;
  word-wrap: break-word !important;
}

.modulos_concluidos .c1,
.modulos_concluidos .c_body
{
  max-width: 90px !important;
  min-width: 90px !important;
}

.atividades_concluidas_agrupadas .c1,
.atividades_concluidas_agrupadas .c_body {
  max-width: 70px !important;
  min-width: 70px !important;
}

.tcc_consolidado .c1,
.tcc_consolidado .c_body,
.avaliacoes_em_atraso .c1,
.avaliacoes_em_atraso .c_body {
  text-align: center !important;
  padding: 4px;
  font-size: 12px !important;
  word-wrap: break-word !important;
}

.tcc_consolidado .r1:first-child,
.avaliacoes_em_atraso .r1:first-child {
  height: 200px;
}

.atividades_vs_notas th td,
.tcc_entrega_atividades th td,
.tcc_concluido th td,
/*.tcc_consolidado th td,*/
.entrega_de_atividades th td {
  height: 200px;
}

.potenciais_evasoes .c1,
.potenciais_evasoes .c_body {
  width: 120px !important;
  height: 50px !important;
  text-align: center !important;
  padding: 2px !important;
  padding-top: 10px;
  font-size: 12px !important;
  word-wrap: break-word !important;
}

/*.modulos_concluidos .c1,*/
/*.modulos_concluidos .c_body {*/
  /*width: 100px !important;*/
  /*height: 50px !important;*/
  /*text-align: center !important;*/
  /*padding: 2px !important;*/
  /*font-size: 12px !important;*/
  /*word-wrap: break-word !important;*/
/*}*/

/*.modulos_concluidos .r1:first-child {*/
    /*height: 200px;*/
/*}*/

.relatorio-unasus .uso_sistema_tutor .c_body,
.relatorio-unasus .acesso_tutor .c_body {
    max-width: 30px !important;
    min-width: 30px !important;
    padding: 2px !important;
    margin: 0 !important;
    font-size: 16px !important;
    text-align: center;
}

.relatorio-unasus .uso_sistema_tutor thead th,
.relatorio-unasus .acesso_tutor thead th {
    height: 40px !important;
    font-size: 14px !important;
}

.relatorio-unasus .uso_sistema_tutor .rotate,
.relatorio-unasus .acesso_tutor .rotate {
    width: 30px !important; /* Deixa as colunas com o nome dos módulos sempre do mesmo tamanho */
    font-size: 12px !important;
    padding: 0px;
}

/*//////////////// Trava da tabela ////////////////*/
.relatorio-unasus thead,
.relatorio-unasus tbody {
  display: block !important;
}

.relatorio-unasus tbody {
  height: 500px;
  overflow: auto;
  margin-right: -15px;
}

.relatorio-unasus.fieldset {
  background-color: #f5f5f5 !important;
}

.relatorio-unasus legend {
  margin-bottom: 0 !important;
}

.relatorio-unasus table {
  border: none !important;
}

.relatorio-unasus tr,
.relatorio-unasus th,
.relatorio-unasus td {
  border: 1px solid #004E95 !important;
}

.relatorio-unasus td {
  text-align: center;
}

.relatorio-unasus.tcc_entrega_atividades .avaliado,
.relatorio-unasus .avaliado,
.relatorio-unasus.atividades_vs_notas .nota_atribuida,
.relatorio-unasus.historico_atribuicao_notas .nao_entregue {
  background-color: #89A9FF !important;
  color: #FFFFFF !important;
}

.relatorio-unasus.tcc_entrega_atividades .rascunho,
.relatorio-unasus.tcc_concluido .concluido,
.relatorio-unasus.atividades_vs_notas .nota_atribuida_atraso,
.relatorio-unasus .concluido,
.relatorio-unasus.boletim .na_media,
.relatorio-unasus.potenciais_evasoes .concluido,
.relatorio-unasus .rascunho,
.relatorio-unasus.acesso_tutor .acessou,
.relatorio-unasus.uso_sistema_tutor .acessou {
  background-color: #67E87E !important;
  color: #000000 !important;
}

.relatorio-unasus .media,
.relatorio-unasus.potenciais_evasoes .parcial,
.relatorio-unasus.tcc_entrega_atividades .revisao {
  background-color: #FCFF76 !important;
  color: #000000 !important;
}

.relatorio-unasus.acesso_tutor .nao_acessou,
.relatorio-unasus.tcc_entrega_atividades .nao_aplicado {
  background-color: #FF886E !important;
  color: #000000 !important;
}

/*.relatorio-unasus .nao_aplicado,*/
.relatorio-unasus .nao_acessado,
.relatorio-unasus .nao_concluido,
.relatorio-unasus.atividades_vs_notas .nao_entregue,
.relatorio-unasus.historico_atribuicao_notas .muito_atraso,
.relatorio-unasus.uso_sistema_tutor .nao_acessou,
.relatorio-unasus.potenciais_evasoes .nao_concluido,
.relatorio-unasus.boletim .abaixo_media {
  background-color: #f77 !important;
  color: #000000 !important;
}

.relatorio-unasus .nao_aplicado {
  background-color: #777777 !important;
  color: #000000 !important;
}

.relatorio-unasus.atividades_vs_notas .nao_realizada,
.relatorio-unasus.historico_atribuicao_notas .nao_avaliada {
  background-color: #DB8AFF !important;
  color: #FFFFFF !important;
}

.relatorio-unasus.atividades_vs_notas .sem_prazo,
.relatorio-unasus.entrega_de_atividades .sem_prazo,
.relatorio-unasus.boletim .sem_nota {
  background-color: #000000 !important;
  color: #FFFFFF;
}

.relatorio-unasus .r0 {
  border-top: 1px solid blue !important;
}

.relatorio-unasus .r0 {
  border-bottom: 1px solid blue !important;
}

.relatorio-unasus .r1 {
  height: 50px;
}

thead {
  font-family: helvetica;
  font-size: 12px !important;
}

.relatorio-unasus .estudante .cell {
  font-size: 12px;
}

.nao_entregue_mas_no_prazo {
  background-color: #E8BC6B;
  color: #FFFFFF;
}

.nao_entregue_fora_do_prazo {
  background-color: #FF886E;
  color: #FFFFFF;
}

.sem_prazo {
  background-color: #000000;
  color: #FFFFFF;
}

.no_prazo {
  background-color: #89A9FF;
  color: #FFFFFF;
}

.pouco_atraso {
  background-color: #67E87E;
  color: #FFFFFF;
}

.muito_atraso {
  background-color: #FCFF76;
  color: #000000;
}

/*
$preto: #000000;
$branco: #FFFFFF;
$cinzaclaro: #f5f5f5;
$verdeescuro: #89A9FF;
$verdeclaro: #67E87E;
$amarelo: #FCFF76;
$laranja: #E8BC6B;
$vermelho: #FF886E;
$rosa: #DB8AFF;
$lilas: #CC01FF;
$azul: blue;
$azulescuro: #004E95;
*/

