@charset "UTF-8";
/*/////////////////////////////////////// Minhas Variaveis Globais ////////////////////////////////////*/
/*/////////////////////////////////////// Original ////////////////////////////////////*/

table.flexible, .generaltable {
    width: 100%;
    margin-bottom: 0px !important;
}

.relatorio-unasus.fieldset
.multiple_list {
  display: inline-block;
  width: 35%;
  margin-left: 1%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.relatorio-unasus.fieldset
.time_filter {
  display: inline-block;
  width: 35%;
  margin-left: 1%;
  margin-bottom: 1em;
  margin-top: 1em;
  vertical-align: top;
}

.relatorio-unasus.fieldset .calendar-full {
  width: 100%;
}

.relatorio-unasus.fieldset .multiple_list
select {
  width: 100%;
  height: 225px;
}

.relatorio-unasus.fieldset
.radio {
  margin-right: 3%;
}

.relatorio-unasus.fieldset .radio
img {
  height: 16px;
  width: 16px;
  margin-right: 3px;
  margin-bottom: -3px;
}

.relatorio-unasus.fieldset
p {
  margin-bottom: 0;
}

.relatorio-unasus.fieldset
dl {
  margin: 0;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-width: 50%;
  -webkit-column-width: 50%;
  column-width: 50%;
}

.relatorio-unasus.fieldset dl dd,
.relatorio-unasus.fieldset dl
dt {
  margin: 0;
  padding: 0;
  line-height: 20px;
}

.relatorio-unasus.fieldset dl
dt {
  width: 2em;
  height: 15px;
  float: left;
  display: inline-block;
  border: 1px solid gray;
  margin-right: 0.5em;
}

.relatorio-unasus.fieldset {
  color: #004E95;
  border-color: #87C7E2;
  background-color: #FEF9EC;
  border-width: 1px 0;
  border-style: dotted;
  padding: 0.5em 1em;
  margin-bottom: 2em;
}

.relatorio-unasus.fieldset.warning {
  color: #004E95;
  border-color: #87C7E2;
  background-color: #efcfcf;
  border-width: 1px 0;
  border-style: dotted;
  padding: 0.5em 1em;
  margin-bottom: 2em;
}

.relatorio-unasus.fieldset
legend {
  color: #004E95;
  font-size: 16pt;
  font-weight: normal;
  border: none;
  background: none;
}

.relatorio-unasus.atividades_vs_notas .sem_prazo,
.relatorio-unasus.entrega_de_atividades .sem_prazo,
.relatorio-unasus.boletim
.sem_nota {
  color: #fff;
  background: #ddd;
}

.relatorio-unasus .nao_aplicado,
.relatorio-unasus.atividades_vs_notas .nao_realizada,
.relatorio-unasus.historico_atribuicao_notas .nao_avaliada
 {
  color: #fff;
  background: #ccc;
}

.relatorio-unasus
.avaliacao {
  background: #6495ED;
}

.relatorio-unasus .avaliado,
.relatorio-unasus .concluido,
.relatorio-unasus.atividades_vs_notas .pouco_atraso,
.relatorio-unasus.historico_atribuicao_notas .no_prazo,
.relatorio-unasus
.media {
  background: #FCFF76;
  color: gray;
}

.relatorio-unasus .nao_acessado,
.relatorio-unasus .nao_concluido,
.relatorio-unasus.atividades_vs_notas .nao_entregue,
.relatorio-unasus.historico_atribuicao_notas .muito_atraso,
.relatorio-unasus.uso_sistema_tutor .nao_acessou,
.relatorio-unasus.potenciais_evasoes .nao_concluido,
.relatorio-unasus.boletim
.abaixo_media {
  color: #fff;
  background: #f77;
}

.relatorio-unasus.boletim
.abaixo_media_nota {
  color: #000000;
  background: #FCFF76;
}

.relatorio-unasus .rascunho,
.relatorio-unasus.atividades_vs_notas .muito_atraso,
.relatorio-unasus.historico_atribuicao_notas .pouco_atraso,
.relatorio-unasus.acesso_tutor .nao_acessou,
.relatorio-unasus.potenciais_evasoes
.parcial {
  background: #E8BC6B;
}

.relatorio-unasus
.revisao {
  background: #FCFF76 !important;
  color: #000000;
}

.relatorio-unasus.atividades_vs_notas .nota_atribuida, .nao_acessou
.relatorio-unasus.historico_atribuicao_notas .nao_entregue,
.relatorio-unasus.acesso_tutor .acessou,
.relatorio-unasus.uso_sistema_tutor .acessou,
.relatorio-unasus.potenciais_evasoes .concluido,
.relatorio-unasus.boletim
.na_media {
  background: #fff;
}

.relatorio-unasus.atividades_vs_notas
.nota_atribuida_atraso {
  background: #FFE3CD;
}

.relatorio-unasus.estudante_sem_atividade_postada
.modulo {
  font-weight: bold;
}

.relatorio-unasus
.nota_atribuida {
  white-space: nowrap;
}

.relatorio-unasus td {
  text-align: center;
}

.relatorio-unasus td.tutor {
  background: #9cf !important;
  text-align: left;
  padding-left: 3em;
}

.relatorio-unasus th.estudante,
.relatorio-unasus td.somatorio {
  padding-right: 1em;
  text-align: left;
  font-weight: normal;
  background: #FEF9EC;
  white-space: nowrap;
}

.relatorio-unasus td.blank {
  background: #FAFAFA;
  border: 0px solid transparent !important;
}

table.relatorio-unasus.estudante_sem_atividade_postada,
table.relatorio-unasus.estudante_sem_atividade_avaliada {
  background: #FAFAFA !important;
}

.relatorio-unasus.divisao-por-modulos td.cell.ultima_atividade,
.relatorio-unasus.divisao-por-modulos th.cell.ultima_atividade,
.relatorio-unasus.divisao-por-modulos td.tutor {
  border-right: 1px solid #004E95 !important;
}

.relatorio-unasus.divisao-por-modulos th.cell.modulo_header {
  border-top: 1px solid #004E95 !important;
  border-left: 1px solid #004E95 !important;
  border-right: 1px solid #004E95 !important;
}

.relatorio-wrapper {
  overflow: auto !important;
}

.relatorio-unasus.botao-ocultar {
  float: right;
}

.relatorio-unasus.botao-ocultar.visible,
.relatorio-unasus.conteudo-filtro.visible {
  display: block;
}

.relatorio-unasus.botao-ocultar.hidden,
.relatorio-unasus.conteudo-filtro.hidden {
  display: none;
}

/*////////////////////////////////////// Meus Ajustes ////////////////////////*/
h1,
h2,
h3,
h4,
h5,
h6,
legend {
  font-family: "Dosis" !important;
}

h1 {
  font-size: 26px !important;
}

h2 {
  font-size: 24px !important;
}

h3 {
  font-size: 22px !important;
}

h4 {
  font-size: 20px !important;
}

h5 {
  font-size: 18px !important;
}

h6 {
  font-size: 16px !important;
}

h2 {
  margin-left: 15px;
}

#instance-4-header {
  margin-left: 0 !important;
}

a {
  color: #004E95 !important;
}

body {
  font-family: "helvetica" !important;
  font-size: 12px !important;
}

.rotate {
  -webkit-transform: rotate(-90deg) !important;
  -moz-transform: rotate(-90deg) !important;
  -ms-transform: rotate(-90deg) !important;
  -o-transform: rotate(-90deg) !important;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3) !important;
  width: 43px !important; /* Deixa as colunas com o nome dos módulos sempre do mesmo tamanho */
  font-size: 12px !important;
    padding: 8px;
}
.rotate a {
  margin: 0 !important;
  padding: 0 !important;
}

.estudante {
  max-width: 135px !important;
  min-width: 135px !important;
  white-space: normal !important;
  word-wrap: break-word !important;
  padding-bottom: 20px;
  text-align: left;
}

.atividades_vs_notas .c1 .rotate,
.atividades_vs_notas .c2,
.atividades_vs_notas .c3,
.atividades_vs_notas .c4,
.atividades_vs_notas .c5,
.atividades_vs_notas .c6,
.atividades_vs_notas .c7,
.atividades_vs_notas .c8,
.atividades_vs_notas .c9,
.atividades_vs_notas .c10,
.atividades_vs_notas .c11,
.atividades_vs_notas .c12,
.atividades_vs_notas .c13,
.atividades_vs_notas .c14,
.atividades_vs_notas .c15,
.atividades_vs_notas .c16,
.atividades_vs_notas .c17,
.atividades_vs_notas .c18,
.atividades_vs_notas .c19,
.atividades_vs_notas .c20 {
  width: 43px !important;
  padding: 0;
  margin: 0;
  font-size: 12px !important;
  text-align: center;
}

.atividades_vs_notas thead th {
  height: 50px !important;
}

.atividades_vs_notas .rotate {
  margin: 0 !important;
    width: 5px !important;
  padding: 0 !important;
  text-align: left !important;
}

.entrega_de_atividades .c1,
.entrega_de_atividades .c2,
.entrega_de_atividades .c3,
.entrega_de_atividades .c4,
.entrega_de_atividades .c5,
.entrega_de_atividades .c6,
.entrega_de_atividades .c7,
.entrega_de_atividades .c8,
.entrega_de_atividades .c9,
.entrega_de_atividades .c10,
.entrega_de_atividades .c11,
.entrega_de_atividades .c12,
.entrega_de_atividades .c13,
.entrega_de_atividades .c14,
.entrega_de_atividades .c15,
.entrega_de_atividades .c16,
.entrega_de_atividades .c17,
.entrega_de_atividades .c18,
.entrega_de_atividades .c19,
.entrega_de_atividades .c20,
.boletim .c1,
.boletim .c2,
.boletim .c3,
.boletim .c4,
.boletim .c5,
.boletim .c6,
.boletim .c7,
.boletim .c8,
.boletim .c9,
.boletim .c10,
.boletim .c11,
.boletim .c12,
.boletim .c13,
.boletim .c14,
.boletim .c15,
.boletim .c16,
.boletim .c17,
.boletim .c18,
.boletim .c19,
.boletim .c20 {
  width: 43px !important;
  /*padding: 0;*/
  margin: 0;
  font-size: 12px !important;
  text-align: center;
}
.entrega_de_atividades thead th,
.boletim thead th {
  height: 50px !important;
}
.entrega_de_atividades .estudante,
.boletim .estudante {
  font-size: 12px !important;
}

.atividades_nota_atribuida .c1,
.atividades_nota_atribuida .c2,
.atividades_nota_atribuida .c3,
.atividades_nota_atribuida .c4,
.atividades_nota_atribuida .c5,
.atividades_nota_atribuida .c6,
.atividades_nota_atribuida .c7,
.atividades_nota_atribuida .c8,
.atividades_nota_atribuida .c9,
.atividades_nota_atribuida .c10,
.atividades_nota_atribuida .c11,
.atividades_nota_atribuida .c12,
.atividades_nota_atribuida .c13,
.atividades_nota_atribuida .c14,
.atividades_nota_atribuida .c15,
.atividades_nota_atribuida .c16,
.atividades_nota_atribuida .c17,
.atividades_nota_atribuida .c18,
.atividades_nota_atribuida .c19,
.atividades_nota_atribuida .c20,
.atividades_nota_atribuida .c21,
.atividades_nota_atribuida .c22,
.atividades_nota_atribuida .c23,
.atividades_nota_atribuida .c24,
.atividades_nota_atribuida .c25,
.atividades_nota_atribuida .c26,
.atividades_nota_atribuida .c27,
.atividades_nota_atribuida .c28,
.atividades_nota_atribuida .c29,
.atividades_nota_atribuida .c30,
.atividades_nota_atribuida .ultima_atividade {
  width: 35px !important;
  height: 50px !important;
  text-align: center !important;
  padding: 1px !important;
  padding-top: 10px;
  font-size: 12px !important;
  /* opacity: 0.5; */
}

.estudante_sem_atividade_avaliada .c1,
.estudante_sem_atividade_avaliada .c2,
.estudante_sem_atividade_avaliada .c3,
.estudante_sem_atividade_avaliada .c4,
.estudante_sem_atividade_avaliada .c5,
.estudante_sem_atividade_avaliada .c6,
.estudante_sem_atividade_avaliada .c7,
.estudante_sem_atividade_avaliada .c8,
.estudante_sem_atividade_avaliada .c9,
.estudante_sem_atividade_avaliada .c10,
.estudante_sem_atividade_avaliada .c11,
.estudante_sem_atividade_avaliada .c12,
.estudante_sem_atividade_avaliada .c13,
.estudante_sem_atividade_avaliada .c14,
.estudante_sem_atividade_avaliada .c15,
.estudante_sem_atividade_avaliada .c16,
.estudante_sem_atividade_avaliada .c17,
.estudante_sem_atividade_avaliada .c18,
.estudante_sem_atividade_avaliada .c19,
.estudante_sem_atividade_avaliada .c20,
.estudante_sem_atividade_postada .c1,
.estudante_sem_atividade_postada .c2,
.estudante_sem_atividade_postada .c3,
.estudante_sem_atividade_postada .c4,
.estudante_sem_atividade_postada .c5,
.estudante_sem_atividade_postada .c6,
.estudante_sem_atividade_postada .c7,
.estudante_sem_atividade_postada .c8,
.estudante_sem_atividade_postada .c9,
.estudante_sem_atividade_postada .c10,
.estudante_sem_atividade_postada .c11,
.estudante_sem_atividade_postada .c12,
.estudante_sem_atividade_postada .c13,
.estudante_sem_atividade_postada .c14,
.estudante_sem_atividade_postada .c15,
.estudante_sem_atividade_postada .c16,
.estudante_sem_atividade_postada .c17,
.estudante_sem_atividade_postada .c18,
.estudante_sem_atividade_postada .c19,
.estudante_sem_atividade_postada .c20 {
  width: 120px !important;
  height: 50px !important;
  text-align: center !important;
  padding: 2px !important;
  padding-top: 10px;
  font-size: 12px !important;
  word-wrap: break-word !important;
}

.atividades_concluidas_agrupadas .c1,
.atividades_concluidas_agrupadas .c2,
.atividades_concluidas_agrupadas .c3,
.atividades_concluidas_agrupadas .c4,
.atividades_concluidas_agrupadas .c5,
.atividades_concluidas_agrupadas .c6,
.atividades_concluidas_agrupadas .c7,
.atividades_concluidas_agrupadas .c8,
.atividades_concluidas_agrupadas .c9,
.atividades_concluidas_agrupadas .c10,
.atividades_concluidas_agrupadas .c11,
.atividades_concluidas_agrupadas .c12,
.atividades_concluidas_agrupadas .c13,
.atividades_concluidas_agrupadas .c14,
.atividades_concluidas_agrupadas .c15,
.atividades_concluidas_agrupadas .c16,
.atividades_concluidas_agrupadas .c17,
.atividades_concluidas_agrupadas .c18,
.atividades_concluidas_agrupadas .c19,
.atividades_concluidas_agrupadas .c20 {
  width: 90px !important;
  height: 50px !important;
  text-align: center !important;
  padding: 2px !important;
  padding-top: 10px;
  font-size: 12px !important;
  word-wrap: break-word !important;
}

.avaliacoes_em_atraso .c1,
.avaliacoes_em_atraso .c2,
.avaliacoes_em_atraso .c3,
.avaliacoes_em_atraso .c4,
.avaliacoes_em_atraso .c5,
.avaliacoes_em_atraso .c6,
.avaliacoes_em_atraso .c7,
.avaliacoes_em_atraso .c8,
.avaliacoes_em_atraso .c9,
.avaliacoes_em_atraso .c10,
.avaliacoes_em_atraso .c11,
.avaliacoes_em_atraso .c12,
.avaliacoes_em_atraso .c13,
.avaliacoes_em_atraso .c14,
.avaliacoes_em_atraso .c15,
.avaliacoes_em_atraso .c16,
.avaliacoes_em_atraso .c17,
.avaliacoes_em_atraso .c18,
.avaliacoes_em_atraso .c19,
.avaliacoes_em_atraso .c20 {
  width: 40px !important;
  height: 50px !important;
  text-align: center !important;
  padding: 2px !important;
  padding-top: 10px;
  font-size: 12px !important;
  word-wrap: break-word !important;
}
.avaliacoes_em_atraso th.estudante {
  width: 135px;
}

.avaliacoes_em_atraso .r1:first-child {
  height: 200px;
}

.entrega_de_atividades th td {
  height: 200px;
}

.potenciais_evasoes .c1,
.potenciais_evasoes .c2,
.potenciais_evasoes .c3,
.potenciais_evasoes .c4,
.potenciais_evasoes .c5,
.potenciais_evasoes .c6,
.potenciais_evasoes .c7,
.potenciais_evasoes .c8,
.potenciais_evasoes .c9,
.potenciais_evasoes .c10,
.potenciais_evasoes .c11,
.potenciais_evasoes .c12,
.potenciais_evasoes .c13,
.potenciais_evasoes .c14,
.potenciais_evasoes .c15,
.potenciais_evasoes .c16,
.potenciais_evasoes .c17,
.potenciais_evasoes .c18,
.potenciais_evasoes .c19,
.potenciais_evasoes .c20 {
  width: 120px !important;
  height: 50px !important;
  text-align: center !important;
  padding: 2px !important;
  padding-top: 10px;
  font-size: 12px !important;
  word-wrap: break-word !important;
}

.tcc_concluido .c1,
.tcc_concluido .c2,
.tcc_concluido .c3,
.tcc_concluido .c4,
.tcc_concluido .c5,
.tcc_concluido .c6,
.tcc_concluido .c7,
.tcc_concluido .c8,
.tcc_concluido .c9,
.tcc_concluido .c10,
.tcc_concluido .c11,
.tcc_concluido .c12,
.tcc_concluido .c13,
.tcc_concluido .c14,
.tcc_concluido .c15,
.tcc_concluido .c16,
.tcc_concluido .c17,
.tcc_concluido .c18,
.tcc_concluido .c19,
.tcc_concluido .c20,
.modulos_concluidos .c1,
.modulos_concluidos .c2,
.modulos_concluidos .c3,
.modulos_concluidos .c4,
.modulos_concluidos .c5,
.modulos_concluidos .c6,
.modulos_concluidos .c7,
.modulos_concluidos .c8,
.modulos_concluidos .c9,
.modulos_concluidos .c10,
.modulos_concluidos .c11,
.modulos_concluidos .c12,
.modulos_concluidos .c13,
.modulos_concluidos .c14,
.modulos_concluidos .c15,
.modulos_concluidos .c16,
.modulos_concluidos .c17,
.modulos_concluidos .c18,
.modulos_concluidos .c19,
.modulos_concluidos .c20 {
  max-width: 100px !important;
  min-width: 100px !important;
  height: 50px !important;
  text-align: center !important;
  padding: 2px !important;
  padding-top: 10px;
  font-size: 12px !important;
  word-wrap: break-word !important;
}

/* .navbar .nav>li>a, .navbar .nav>li>a:hover, .usermenu .login, .usermenu .moodle-actionmenu .toggle-display .userbutton {
	margin-top: 0!important;
} */
table.flexible thead th .r1,
.generaltable thead th .r1 {
  vertical-align: bottom !important;
  padding-top: 30px !important;
}

/*//////////////// Trava da tabela ////////////////*/
thead,
tbody {
  display: block;
}

tbody {
  height: 500px;
  overflow: auto;
}

/*//////////////////////////////////////////////////*/
table.flexible th,
.generaltable th,
table.flexible td,
.generaltable td {
  vertical-align: middle !important;
}

/* .r1 .th {
width: 75px !important;
height: 80px !important;
} */
/* th .cell {
width: 78px !important;
height: 80px !important;
padding: 0 !important;
overflow: hidden;
} */
/* .r1 .fixed td {
width: 50px;
border: none;
} */
.relatorio-unasus.fieldset {
  background-color: #f5f5f5 !important;
}

legend {
  margin-bottom: 0 !important;
}

.relatorio-unasus th.estudante {
  background-color: #FFFFFF !important;
}

table {
  border: none !important;
}

tr,
th,
td {
  border: 1px solid #004E95 !important;
}

td {
  text-align: center;
}

.relatorio-unasus .avaliado,
.relatorio-unasus.atividades_vs_notas .nota_atribuida,
.relatorio-unasus.historico_atribuicao_notas .nao_entregue {
  background-color: #89A9FF !important;
  color: #FFFFFF !important;
}

.relatorio-unasus.atividades_vs_notas .nota_atribuida_atraso,
.relatorio-unasus .concluido,
.relatorio-unasus.boletim .na_media,
.relatorio-unasus.potenciais_evasoes .concluido,
.relatorio-unasus .rascunho,
.relatorio-unasus.acesso_tutor .acessou,
.relatorio-unasus.uso_sistema_tutor .acessou {
  background-color: #67E87E !important;
  color: #000000 !important;
}

.relatorio-unasus .media,
.relatorio-unasus.potenciais_evasoes .parcial {
  background-color: #FCFF76 !important;
  color: #000000 !important;
}

.relatorio-unasus.acesso_tutor .nao_acessou {
  background-color: #FF886E !important;
  color: #000000 !important;
}

.relatorio-unasus .nao_aplicado,
.relatorio-unasus .nao_acessado,
.relatorio-unasus .nao_concluido,
.relatorio-unasus.atividades_vs_notas .nao_entregue,
.relatorio-unasus.historico_atribuicao_notas .muito_atraso,
.relatorio-unasus.uso_sistema_tutor .nao_acessou,
.relatorio-unasus.potenciais_evasoes .nao_concluido,
.relatorio-unasus.boletim .abaixo_media {
  background-color: #FF886E !important;
  color: #000000 !important;
}

.relatorio-unasus.atividades_vs_notas .nao_realizada,
.relatorio-unasus.historico_atribuicao_notas .nao_avaliada {
  background-color: #DB8AFF !important;
  color: #FFFFFF !important;
}

.relatorio-unasus.atividades_vs_notas .sem_prazo,
.relatorio-unasus.entrega_de_atividades .sem_prazo,
.relatorio-unasus.boletim .sem_nota {
  background-color: #000000 !important;
  color: #FFFFFF;
}

.r0 {
  border-top: 1px solid blue !important;
}

.r0 {
  border-bottom: 1px solid blue !important;
}

.r1 {
  border-top: 1px solid #FF886E !important;
}

.r1 {
  border-bottom: 1px solid #FF886E !important;
}

thead {
  font-family: helvetica;
  font-size: 12px !important;
}

.estudante .cell {
  font-size: 12px;
}

.nao_entregue_mas_no_prazo {
  background-color: #E8BC6B;
  color: #FFFFFF;
}

.nao_entregue_fora_do_prazo {
  background-color: #FF886E;
  color: #FFFFFF;
}

.sem_prazo {
  background-color: #000000;
  color: #FFFFFF;
}

.no_prazo {
  background-color: #89A9FF;
  color: #FFFFFF;
}

.pouco_atraso {
  background-color: #67E87E;
  color: #FFFFFF;
}

.muito_atraso {
  background-color: #FCFF76;
  color: #000000;
}

/* 
$preto: #000000;
$branco: #FFFFFF;
$cinzaclaro: #f5f5f5;
$verdeescuro: #89A9FF;
$verdeclaro: #67E87E;
$amarelo: #FCFF76;
$laranja: #E8BC6B;
$vermelho: #FF886E;
$rosa: #DB8AFF;
$lilas: #CC01FF;
$azul: blue;
$azulescuro: #004E95; 
*/

