/* Filtros */

.filter_form.mform{
    vertical-align: top;
}

.filter_form.mform select{
    margin-left: 1em;
    width: 200px;
    height: 230px;
}

.mform .fitem .fitemtitle{
    width: 10% !important;
}

.filter_form div.fsubmit {
    text-align: left;
}

.felement{
    vertical-align: top;
    margin-left: 5% !important;
}

.fgroup{
    margin:0px;
}

.relatorio-unasus.multiple_list{
    display: inline-block;
}
/* Legenda */

.relatorio-unasus.fieldset {
    margin-bottom: 2em;
}

.relatorio-unasus.right_legend{
    margin-bottom: 2em;
    margin-left: 1em;
}

.relatorio-unasus.fieldset dl {
    margin: 0;
}
.relatorio-unasus.fieldset dl dt {
    width: 2em;
    height: 15px;
    float: left;
    display: inline-block;
    margin-right: 1em;
    border: 1px solid gray;
}
.relatorio-unasus.fieldset dl dd {
    margin-bottom: 5px;
}

.relatorio-unasus.fieldset legend{
    color: #004E95;
    font-size: 16pt;
    font-weight: normal;
    border: none;
    background: none;
}

/* Tabelas com os dados do relatório */

/* Cinza */
.relatorio-unasus.atividades_vs_notas .nao_realizada {
    color: #fff;
    background: #ccc;

}

/* Verde */
.relatorio-unasus.atividades_vs_notas .pouco_atraso,
.relatorio-unasus.entrega_de_atividades .no_prazo,
.relatorio-unasus.acompanhamento_de_avaliacao .no_prazo,
.relatorio-unasus .media {
    background: #CCFFCC;
    color: gray;
}

/* Vermelho */
.relatorio-unasus.atividades_vs_notas .nao_entregue,
.relatorio-unasus.entrega_de_atividades .muito_atraso,
.relatorio-unasus.acompanhamento_de_avaliacao .muito_atraso,
.relatorio-unasus.uso_sistema_tutor .nao_acessou,
.relatorio-unasus.potenciais_evasoes .nao_concluido {
    color: #fff;
    background: #ff7777;
}

/* Amarelo */
.relatorio-unasus.atividades_vs_notas .muito_atraso,
.relatorio-unasus.entrega_de_atividades .pouco_atraso,
.relatorio-unasus.acompanhamento_de_avaliacao .pouco_atraso,
.relatorio-unasus.acesso_tutor .nao_acessou,
.relatorio-unasus.potenciais_evasoes .parcial {
    background: #FEFF7F;
}

/* Branco */
.relatorio-unasus.atividades_vs_notas .nota_atribuida,
.relatorio-unasus.entrega_de_atividades .nao_entregue,
.relatorio-unasus.acompanhamento_de_avaliacao .nao_entregue,
.relatorio-unasus.acesso_tutor .acessou,
.relatorio-unasus.uso_sistema_tutor .acessou,
.relatorio-unasus.potenciais_evasoes .concluido {
    background: #fff;
}

/* Bold */
.relatorio-unasus.estudante_sem_atividade_postada .modulo {
    font-weight: bold;
}

.relatorio-unasus td {
    text-align: center;
}

.relatorio-unasus td.tutor {
    background: #9cf;
}

/* TODO: mover para o tema ufsc: th.cell */
.relatorio-unasus th.estudante,
.relatorio-unasus td.somatorio {
    padding-right: 1em;
    text-align: left;
    font-weight: normal;
    background: #FEF9EC;
}

.relatorio-unasus td.blank {
    background: #FAFAFA;
    border: 0px solid transparent !important;
}

table.relatorio-unasus.estudante_sem_atividade_postada {
    background: #FAFAFA !important;
}